table{
  border-collapse: collapse;
  border:3px solid black;
  margin:20px 0px 0px 450px;
}

td {
  width: 120px;
  height: 130px;
  text-align: center;
  vertical-align: middle;
  font-size: 3rem; 
}

.w {
  background-color: #f0d9b5;
}

.d {
  background-color: green;
}